@model IEnumerable<Market_Shop.Models.Product_type>

@{
    ViewData["Title"] = "Список продуктов партнера";
}

<h1>Список типов продуктов</h1>

<p>
    <a asp-action="Create">Создать новые</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_types)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ratio_Product_types)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_types)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ratio_Product_types)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детально</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
