@model IEnumerable<Market_Shop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Продукты</h1>

<p>
    <a asp-action="Create">Создать новые</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Артикул)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_cost_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Артикул)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Min_cost_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_type.Product_types)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
