@model IEnumerable<Market_Shop.Models.Requst>

@{
    ViewData["Title"] = "Index";
}

<h1>Заявки</h1>

<p>
    <a asp-action="Create">Создать новые</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Managers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partners)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Managers.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partners.Patners_Type_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name_Product)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
